{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta content="text/html" charset="UTF-8">
        <title>
            四川大学体测系统
        </title>
        <script src="{% static "common/jquery-3.2.1.min.js" %}"></script>
	<script src="http://www.ziqiangxuetang.com/media/django/csrf.js"></script>
        <script src="{% static "common/modernizr.custom.33020.js" %}"></script>
        <script src="{% static "js/function_2.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/default_2.css" %}">
    </head>
    <body>
        <canvas id="mycanvas"></canvas>
        <img src="{% static "static/scu.jpg" %}" alt="背景" id="bg">
        <div id="scu">四川大学体测信息入口</div>
        <div id="logindiv">
            <form action="index" method="get" id="login">
               <label for="usrname">用户名:</label>
               <input type="text" id="usrname" class="textarea">
               <label for="passwd">密码:</label>
               <input type="password" id="passwd" class="textarea">
               <button type="button"  class="but"  onclick="isokLogin()"><span>登录</span></button>
               <button type="button"  class="but"><span><a href="http://www.scucrazyeinsten.xin/Physical/register">注册</a></span></button>
            </form>
        </div>
        <script>
            $(document).ready(function(){
                $("#bg").width($(window).width());
                $("#bg").height($(window).height());
                mainbg();
            });
            function isokLogin(){
   	 //var tmp = String({{isokey|safe}});
	var usrname = $("#usrname").val();
	var passwd = $("#passwd").val();
    	$.post("index/", {'usrname':usrname, 'passwd':passwd}, function(ret){
      	  if(ret == 'False'){
      	      alert('用户名密码错误！');
        }
    })
}

        </script>
    </body>
</html>
